{% extends 'account/base.html' %}
{% load socialaccount %}
{% load i18n %}

{% block head_title %}{% trans "Password reset" %}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-xl-4 col-lg-6 col-md-6 border border-info rounded shadow px-5 py-4 mt-auto"
         style="position: absolute; top:50%; transform: translate(0, -50%)">
        <h2 class="text-center text-primary">Password reset complete</h2>

        <hr>
        <p class="text-info">Your password has been rest. You may go ahead and log in now.
        </p>
        <div class="text-center">
            <a class="btn btn-sm btn-outline-primary mb-2 px-5" href="{% url 'account_login' %}">
                Login
            </a>
                <br>
        </div>
    </div>
</div>
{% endblock %}