{% extends 'account/base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-xl-4 col-lg-6 col-md-6 border border-info rounded shadow px-5 py-4 mt-auto" style="position: absolute; top:50%; transform: translate(0, -50%)">
        <h2 class="text-center text-primary">Select user role</h2>
        <hr>
        {% if messages %}
            {% for message in messages %}
                <div class="container alert fade show" role="alert" style="color: #FF6363; border: 2px solid; margin-top: 20px">
                    {{ message }}
                    <button type="button" class="close-btn" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <h3 class="text-center">Create your profile as ..</h3>
            <div class="d-flex justify-content-center mb-3 text-success">
                <div class="mx-3">
                    <input type="radio" id="doctor" style="cursor: pointer" name="user" value="1">
                    <label for="doctor" style="cursor: pointer">Doctor</label>
                </div>
                <div>
                    <input checked type="radio" id="patient" style="cursor: pointer" name="user" value="2">
                    <label for="patient" style="cursor: pointer">Patient</label>
                </div>
            </div>
            <div class="text-center">
                <p class="text-danger mt-5">Make sure your choice is correct,<br>you cannot change it in future.</p>
                <input type="submit" class="btn btn-primary mb-2 px-5" value="Submit">
            </div>
        </form>
    </div>
</div>
{% endblock %}