Django==4.0.6
Pillow==9.2.0
channels==3.0.5
humanize==4.2.3
django-allauth==0.51.0
django-cors-headers==3.13.0
django-crispy-forms==1.14.0
django-rest-passwordreset==1.2.1
djangorestframework==3.13.1
djangorestframework-simplejwt==5.2.0
PyJWT==2.4.0
drf-yasg==1.21.3
google-api-core==2.10.1
google-api-python-client==2.62.0
google-auth==2.11.1