{% extends 'patient/base.html' %}

{% block content %}

<div class="container px-4 py-5" id="icon-grid">
    <h2 class="pb-2 border-bottom">Specialized</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">

      {% for specialized in specialities %}
      <div class="col d-flex align-items-center justify-content-center p-4">
        <a href="{{ specialized.get_url }}" class="text-muted col d-flex align-items-center justify-content-center btn btn-outline-info p-3 text-decoration-none">
          <i class="fa fa-user-md m-2"></i>
          <div>
            <h4 class="fw-bold mb-0">{{ specialized.title }}</h4>
          </div>
        </a>
      </div>
      {% endfor %}

    </div>
</div>

{% endblock %}