{% extends 'patient/base.html' %}

{% block title %}My Profile{% endblock %}

{% block content %}

<div class="container px-4 py-2" id="icon-grid">
    <div class="d-flex">
        <h2 class="pb-2 border-bottom">Profile</h2>
        {% if messages %}
        {% for message in messages %}
        <div class="alert border m-auto text-success" style="background: #a6ffbe">
                    <span class="icon">
                        <i class="fas fa-check"></i>
                    </span>
            <span class="text px-5 fw-bold">{{ message }}</span>
            <button type="button" class="close pr-2 rounded" data-dismiss="alert" aria-label="Close"
                    style="background: #ccffda; border: 1px solid #ff5959;color: #FF6363">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="row px-5">
        <div class="col-lg-4 px-md-3 mt-3">
            <h5 class="text-center border-bottom border-4 px-3 py-2 shadow rounded border-warning">Account</h5>
            <div>
                <table cellpadding="5" class="m-auto">
                    <tr class="d-flex justify-content-between">
                        <td>Name:</td>
                        <td>{{ request.user.first_name }} {{ request.user.last_name }}</td>
                    </tr>
                    <tr class="d-flex justify-content-between">
                        <td>Username:</td>
                        <td>{{ request.user.username }}</td>
                    </tr>
                    <tr class="d-flex justify-content-between">
                        <td>Gender:</td>
                        <td style="text-transform: capitalize;">{{ request.user.gender }}</td>
                    </tr>
                    <tr class="d-flex justify-content-between">
                        <td>Email:</td>
                        <td>{{ request.user.email }}</td>
                    </tr>
                    <tr class="d-flex justify-content-between">
                        <td>Phone:</td>
                        <td>8086183640</td>
                    </tr>
                </table>
                <a href="{% url 'patient:patient-update' request.user.id %}" class="text-decoration-none">
                    <h6 class="text-center border mx-5 px-3 py-2 shadow rounded border-info">Update</h6>
                </a>
            </div>
        </div>
    </div>

</div>

{% endblock %}