{% extends 'base.html' %}

{% block content %}

<div class="container px-4 py-5" id="icon-grid">
    <h2 class="pb-2 border-bottom">Update {{ member.relation }}</h2>

    <div class="row px-5">
        <div class="col-lg-3 col-md-6">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <a href="" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Delete {{ member.relation }}
                </a>
                <input type="submit" value="Update" class="btn btn-outline-primary my-3">
            </form>
        </div>
    </div>
</div>

<!--modal start    -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel" style="color:#ff4f42">Deletion</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <h5>Are you sure to want to delete {{ member.name }}?</h5>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Nope</button>
                <a href="{% url 'patient:member-delete' member.id %}">
                    <button type="submit" class="btn btn-primary">Yes. Delete</button>
                </a>
            </div>
          </div>
        </div>
      </div>
    </div>
<!--modal end    -->

{% endblock %}