{% extends 'doctor/base.html' %}

{% block title %}Appointments{% endblock %}

{% block content %}

<div class="container px-4 py-2" id="icon-grid">
    {% if request.user.doctor %}
    <div class="d-flex align-items-center">
        <h2 class="pb-2 border-bottom me-4">Appointments</h2>
        <b>Filter:</b>
        <a href="{% url 'doctor:appointments-filter' 1 %}"
           class="btn {% if filter and filter == 1 %} btn-primary {% else %} btn-outline-primary {% endif %} btn-sm mx-2">Upcoming
            only</a>
        <a href="{% url 'doctor:appointments-filter' 2 %}"
           class="btn {% if filter and filter == 2 %} btn-primary {% else %} btn-outline-primary {% endif %} btn-sm mx-2">Active
            only</a>
        <a href="{% url 'doctor:appointments-filter' 3 %}"
           class="btn {% if filter and filter == 3 %} btn-primary {% else %} btn-outline-primary {% endif %} btn-sm mx-2">Completed
            only</a>
    </div>
    <div class="row px-5">
        <div class="col-lg-8 mt-3">
            {% if appointments %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Patient</th>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                        {% if filter and filter == 2 %}
                        <th scope="col">Chat</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for appointment in appointments %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ appointment.patient.first_name }} {{ appointment.patient.last_name }}</td>
                        <td>{{ appointment.date }}</td>
                        <td>{{ appointment.time }}</td>
                        {% if filter and filter == 2 %}
                        <td>
                            <a href="{% url 'chat' appointment.id %}" class="btn btn-primary btn-sm">Open Chat</a>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p class="text-warning">No appointments received yet</p>
            {% endif %}
        </div>
    </div>
    {% else %}
    <span class="mx-3">You need to add some details to get an appointment from the patients.</span>
    <a data-bs-toggle="modal" data-bs-target="#doctor-details" href=""
        class="border border-danger border-3 text-decoration-none rounded px-2">Add now?</a>
    {% endif %}
</div>

{% endblock %}