{% extends 'doctor/base.html' %}

{% block content %}

<div class="container px-4 py-2" id="icon-grid">
    <div class="d-flex">
        <h2 class="pb-2 border-bottom">Profile</h2>
        {% if messages %}
            {% for message in messages %}
                <div class="alert border m-auto text-success" style="background: #a6ffbe">
                    <span class="icon">
                        <i class="fas fa-check"></i>
                    </span>
                    <span class="text px-5 fw-bold">{{ message }}</span>
                    <button type="button" class="close pr-2 rounded" data-dismiss="alert" aria-label="Close" style="background: #ccffda; border: 1px solid #ff5959;color: #FF6363">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="row px-5">
            <div class="col-lg-4 px-md-3 mt-3">
                <h5 class="text-center border-bottom border-4 px-3 py-2 shadow rounded border-warning">Account</h5>
                <div>
                    <table cellpadding="5" class="m-auto">
                        <tr class="d-flex justify-content-between">
                            <td>Name:</td>
                            <td class="text-primary">{{ request.user.first_name }} {{ request.user.last_name }}</td>
                        </tr>
                        <tr class="d-flex justify-content-between">
                            <td>Username:</td>
                            <td class="text-primary">{{ request.user.username }}</td>
                        </tr>
                        <tr class="d-flex justify-content-between">
                            <td>Gender:</td>
                            <td style="text-transform: capitalize;" class="text-primary">{{ request.user.gender }}</td>
                        </tr>
                        <tr class="d-flex justify-content-between">
                            <td>Email:</td>
                            <td class="text-primary">{{ request.user.email }}</td>
                        </tr>
                        <tr class="d-flex justify-content-between">
                            <td>Phone:</td>
                            <td class="text-primary">8086183640</td>
                        </tr>
                    </table>
                    <a href="{% url 'doctor:doctor-update' request.user.id %}" class="text-decoration-none">
                        <h6 class="text-center border mx-5 px-3 py-2 shadow rounded border-info">Update</h6>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 px-md-3 mt-3">
                <h5 class="text-center border-bottom border-4 px-3 py-2 shadow rounded border-warning">Details</h5>
                <div>
                    <table cellpadding="5" class="m-auto">
                        <tr class="d-flex justify-content-between">
                            <td>Specialized in:</td>
                            <td class="text-primary">{{ doctor.specialized_in }}</td>
                        </tr>
                        <tr class="d-flex justify-content-between">
                            <td>Charge for 30mint.:</td>
                            <td class="text-primary">{{ doctor.charge }} &#8377;</td>
                        </tr>
                    </table>
                    <div class="mt-3">
                        <a href="" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <h6 class="text-center border mx-5 px-3 py-2 shadow rounded border-info">Update details</h6>
                        </a>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="col-lg-4 px-md-3 mt-3">
                <h5 class="text-center border-bottom border-4 px-3 py-2 shadow rounded border-warning">Available times</h5>
                <div>
                    <table cellpadding="5" class="m-auto">
                        <tr class="d-flex justify-content-between">
                            <td>Sunday:</td>
                            <td class="text-primary text-uppercase">
                                {{ doctor.sun_start }}
                                <span class="text-dark text-lowercase">to</span>
                                {{ doctor.sun_start }}
                            </td>
                        </tr>
                        <tr class="d-flex justify-content-between">
                            <td>Monday:</td>
                            <td class="text-primary text-uppercase">
                                {{ doctor.mon_start }}
                                <span class="text-dark text-lowercase">to</span>
                                {{ doctor.mon_start }}
                            </td>
                        </tr>
                        <tr class="d-flex justify-content-between">
                            <td>Tuesday:</td>
                            <td class="text-primary text-uppercase">
                                {{ doctor.tue_start }}
                                <span class="text-dark text-lowercase">to</span>
                                {{ doctor.tue_start }}
                            </td>
                        </tr>
                        <tr class="d-flex justify-content-between">
                            <td>Wednesday:</td>
                            <td class="text-primary text-uppercase">
                                {{ doctor.wed_start }}
                                <span class="text-dark text-lowercase">to</span>
                                {{ doctor.wed_end }}
                            </td>
                        </tr>
                        <tr class="d-flex justify-content-between">
                            <td>Thursday:</td>
                            <td class="text-primary text-uppercase">
                                {{ doctor.thu_start }}
                                <span class="text-dark text-lowercase">to</span>
                                {{ doctor.thu_end }}
                            </td>
                        </tr>
                        <tr class="d-flex justify-content-between">
                            <td>Friday:</td>
                            <td class="text-primary text-uppercase">
                                {{ doctor.fri_start }}
                                <span class="text-dark text-lowercase">to</span>
                                {{ doctor.fri_end }}
                            </td>
                        </tr>
                        <tr class="d-flex justify-content-between">
                            <td>Saturday:</td>
                            <td class="text-primary text-uppercase">
                                {{ doctor.sat_start }}
                                <span class="text-dark text-lowercase">to</span>
                                {{ doctor.sat_start }}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-lg-4 px-md-3 mt-3">
                <h5 class="text-center border-bottom border-4 px-3 py-2 shadow rounded border-warning">History</h5>
                <div>
                    <table cellpadding="5" class="m-auto">
                        <tr class="d-flex justify-content-between">
                            <td>Name:</td>
                            <td>Sravan kumar</td>
                        </tr>
                        <tr class="d-flex justify-content-between">
                            <td>age:</td>
                            <td>28</td>
                        </tr>
                        <tr class="d-flex justify-content-between">
                            <td>Gender:</td>
                            <td>Male</td>
                        </tr>
                        <tr class="d-flex justify-content-between">
                            <td>Phone:</td>
                            <td>8086183640</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-lg-4 px-md-3 mt-3">
                <h5 class="text-center border-bottom border-4 px-3 py-2 shadow rounded border-warning">Account</h5>
                <div>
                    <table cellpadding="5" class="m-auto">
                        <tr class="d-flex justify-content-between">
                            <td>Name:</td>
                            <td>Sravan kumar</td>
                        </tr>
                        <tr class="d-flex justify-content-between">
                            <td>age:</td>
                            <td>28</td>
                        </tr>
                        <tr class="d-flex justify-content-between">
                            <td>Gender:</td>
                            <td>Male</td>
                        </tr>
                        <tr class="d-flex justify-content-between">
                            <td>Phone:</td>
                            <td>8086183640</td>
                        </tr>
                    </table>
                    <a href="" class="text-decoration-none">
                        <h6 class="text-center border-bottom mx-5 px-3 py-2 shadow rounded border-info">Account</h6>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 px-md-3 mt-3">
                <h5 class="text-center border-bottom border-4 px-3 py-2 shadow rounded border-warning">Account</h5>
                <div>
                    <table cellpadding="5" class="m-auto">
                        <tr class="d-flex justify-content-between">
                            <td>Name:</td>
                            <td>Sravan kumar</td>
                        </tr>
                        <tr class="d-flex justify-content-between">
                            <td>age:</td>
                            <td>28</td>
                        </tr>
                        <tr class="d-flex justify-content-between">
                            <td>Gender:</td>
                            <td>Male</td>
                        </tr>
                        <tr class="d-flex justify-content-between">
                            <td>Phone:</td>
                            <td>8086183640</td>
                        </tr>
                    </table>
                    <a href="" class="text-decoration-none">
                        <h6 class="text-center border-bottom mx-5 px-3 py-2 shadow rounded border-info">Account</h6>
                    </a>
                </div>
            </div>
    </div>

<!--modal start    -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">You can update details from here</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method="post" action="{% url 'doctor:update-details' %}">
                {% csrf_token %}
                <table class="m-auto" cellpadding="5">
                    <tr class="d-flex justify-content-between align-items-center">
                        <td>Specialized in:</td>
                        <td>
                            <select class="form-control" name="special">
                                {% for speciality in specialities %}
                                <option  value="{{speciality.id}}" {% if doctor.specialized_in.title == speciality.title %} selected {% endif %}>{{ speciality.title }}</option>
                                {% endfor %}
                            </select>
                    </tr>
                    <tr class="d-flex justify-content-between align-items-center">
                        <td>Charge</td>
                        <td><input value="{{ doctor.charge }}" required type="number" name="charge" placeholder="Name" class="form-control"></td>
                    </tr>
                </table>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
<!--modal end    -->
</div>

{% endblock %}