{% extends 'base.html' %}

{% block content %}

<div class="container px-4 py-5" id="icon-grid">
    <h2 class="pb-2 border-bottom">Profile</h2>

    <div class="row px-5 ">
            <div class="col-md-6 col-lg-3 px-md-3">
                <a href="" class="text-decoration-none">
                    <h5 class="text-center border-bottom border-4 px-3 py-2 shadow rounded border-info">Account</h5>
                </a>
                <div>
                    <table cellpadding="5" class="m-auto">
                        <tr class="d-flex justify-content-between">
                            <td>Name:</td>
                            <td>Sravan kumar</td>
                        </tr>
                        <tr class="d-flex justify-content-between">
                            <td>age:</td>
                            <td>28</td>
                        </tr>
                        <tr class="d-flex justify-content-between">
                            <td>Gender:</td>
                            <td>Male</td>
                        </tr>
                        <tr class="d-flex justify-content-between">
                            <td>Phone:</td>
                            <td>8086183640</td>
                        </tr>
                    </table>
                    <a href="" class="text-decoration-none">
                        <h6 class="text-center border-bottom mx-5 px-3 py-2 shadow rounded border-warning">Update</h6>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 px-md-3">
                <a href="" class="text-decoration-none">
                    <h5 class="text-center border-bottom border-4 px-3 py-2 shadow rounded border-info">Family members</h5>
                </a>
                <div>
                    <table cellpadding="5" class="m-auto">
                        <tr class="d-flex justify-content-between">
                            <td>Name:</td>
                            <td>Sravan kumar</td>
                        </tr>
                        <tr class="d-flex justify-content-between">
                            <td>age:</td>
                            <td>28</td>
                        </tr>
                        <tr class="d-flex justify-content-between">
                            <td>Gender:</td>
                            <td>Male</td>
                        </tr>
                        <tr class="d-flex justify-content-between">
                            <td>Phone:</td>
                            <td>8086183640</td>
                        </tr>
                    </table>
                    <a href="" class="text-decoration-none">
                        <h6 class="text-center border-bottom mx-5 px-3 py-2 shadow rounded border-info">Add member</h6>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 px-md-3">
                <a href="" class="text-decoration-none">
                    <h5 class="text-center border-bottom border-4 px-3 py-2 shadow rounded border-info">My doctors</h5>
                </a>
                <div>
                    <table cellpadding="5" class="m-auto">
                        <tr class="d-flex justify-content-between">
                            <td>Name:</td>
                            <td>Sravan kumar</td>
                        </tr>
                        <tr class="d-flex justify-content-between">
                            <td>age:</td>
                            <td>28</td>
                        </tr>
                        <tr class="d-flex justify-content-between">
                            <td>Gender:</td>
                            <td>Male</td>
                        </tr>
                        <tr class="d-flex justify-content-between">
                            <td>Phone:</td>
                            <td>8086183640</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 px-md-3">
                <a href="" class="text-decoration-none">
                    <h5 class="text-center border-bottom border-4 px-3 py-2 shadow rounded border-info">History</h5>
                </a>
                <div>
                    <table cellpadding="5" class="m-auto">
                        <tr class="d-flex justify-content-between">
                            <td>Name:</td>
                            <td>Sravan kumar</td>
                        </tr>
                        <tr class="d-flex justify-content-between">
                            <td>age:</td>
                            <td>28</td>
                        </tr>
                        <tr class="d-flex justify-content-between">
                            <td>Gender:</td>
                            <td>Male</td>
                        </tr>
                        <tr class="d-flex justify-content-between">
                            <td>Phone:</td>
                            <td>8086183640</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 px-md-3">
                <a href="" class="text-decoration-none">
                    <h5 class="text-center border-bottom border-4 px-3 py-2 shadow rounded border-info">Account</h5>
                </a>
                <div>
                    <table cellpadding="5" class="m-auto">
                        <tr class="d-flex justify-content-between">
                            <td>Name:</td>
                            <td>Sravan kumar</td>
                        </tr>
                        <tr class="d-flex justify-content-between">
                            <td>age:</td>
                            <td>28</td>
                        </tr>
                        <tr class="d-flex justify-content-between">
                            <td>Gender:</td>
                            <td>Male</td>
                        </tr>
                        <tr class="d-flex justify-content-between">
                            <td>Phone:</td>
                            <td>8086183640</td>
                        </tr>
                    </table>
                    <a href="" class="text-decoration-none">
                        <h6 class="text-center border-bottom mx-5 px-3 py-2 shadow rounded border-info">Account</h6>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 px-md-3">
                <a href="" class="text-decoration-none">
                    <h5 class="text-center border-bottom border-4 px-3 py-2 shadow rounded border-info">Account</h5>
                </a>
                <div>
                    <table cellpadding="5" class="m-auto">
                        <tr class="d-flex justify-content-between">
                            <td>Name:</td>
                            <td>Sravan kumar</td>
                        </tr>
                        <tr class="d-flex justify-content-between">
                            <td>age:</td>
                            <td>28</td>
                        </tr>
                        <tr class="d-flex justify-content-between">
                            <td>Gender:</td>
                            <td>Male</td>
                        </tr>
                        <tr class="d-flex justify-content-between">
                            <td>Phone:</td>
                            <td>8086183640</td>
                        </tr>
                    </table>
                    <a href="" class="text-decoration-none">
                        <h6 class="text-center border-bottom mx-5 px-3 py-2 shadow rounded border-info">Account</h6>
                    </a>
                </div>
            </div>
    </div>
</div>

{% endblock %}