<!--Bootstrap Modal-->
<!--Appointment-->

<div class="modal fade" id="payment-for-{{doctor.id}}" tabindex="-1" aria-labelledby="exampleModalLabel{{doctor.id}}"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title" id="exampleModalLabel{{doctor.id}}">
                    Appointment with Dr.{{doctor.first_name}} {{doctor.last_name}}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="d-flex align-items-center justify-content-center">
                    <h5 class="text-center">Select a date</h5>
                    <small class="text-warning">(You can choose within 10 days from tomorrow)</small> :
                </div>
                <!-- date querying -->
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <input class="form-control" type="date" id="app-date-for-{{doctor.id}}" min="0"
                            onclick="setMinMaxDate(event)">
                        <small class="text-danger" style="display: none;" id="date-error-for-{{doctor.id}}">Please
                            select a date</small>
                    </div>
                    <div class="text-center">
                        <button onclick="dateForAppointment('{{doctor.id}}')" class="btn btn-outline-info my-2">
                            Check Availability
                        </button>
                    </div>
                </div>

                <div class="loader mt-4" style="display: none;" id="loader-wait-for-{{doctor.id}}"></div>
                <div id="available-times-for-{{doctor.id}}" class="text-center">
                    <!-- div where the available times will be shown -->
                </div>

                <a href="#" id="successful-payment-{{doctor.id}}" style="visibility: hidden;"></a>


                <!-- some information kept hidden -->
                <span style="visibility: hidden;" id="charge-for-doctor-{{doctor.id}}">{{ doctor.charge }}</span>

                <!-- to show selected date and time -->
                <div id="date-and-time-for-{{doctor.id}}"></div>

                <!-- PayPal buttons for payment -->
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <div class="mt-5" id=paypal-button-container-{{doctor.id}}></div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>