{% extends 'doctor/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="container px-4 py-2" id="icon-grid">
    <div class="d-flex">
        {% if messages %}
            {% for message in messages %}
                <div class="alert border m-auto text-success" style="background: #a6ffbe">
                    <span class="icon">
                        <i class="fas fa-check"></i>
                    </span>
                    <span class="text px-5 fw-bold">{{ message }}</span>
                    <button type="button" class="close pr-2 rounded" data-dismiss="alert" aria-label="Close" style="background: #ccffda; border: 1px solid #ff5959;color: #FF6363">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="row mx-2">
        <div class="d-md-flex justify-content-around">
            <div class="mx-2">
                <h3>{{ post.title }}</h3>
                <p>by&nbsp;<span class="text-info">Dr&nbsp;{{ post.author.first_name }}&nbsp;{{ post.author.last_name }}<span></span></p>
                <p class="text-capitalize">{{ post.date|naturalday }}</p>
            </div>
            <div class="mr-md-3">
                {% if post.image %}
                <img src="{{ post.image.url }}" alt="" style="max-height: 220px">
                {% else %}
                <img src="{% static 'img/blog.jpg' %}" alt="" style="max-height: 220px">
                {% endif %}
            </div>
        </div>
        <div class="row mx-md-5 mt-3">
            <p style="text-indent: 200px;">{{ post.content }}</p>
        </div>
    </div>

</div>
{% endblock %}